$border: 1px;
$border-0: 0;
$border-2: 2px;
$border-4: 4px;
$border-8: 8px;
$border-t: 1px;
$border-r: 1px;
$border-b: 1px;
$border-l: 1px;
$border-t-0: 0;
$border-r-0: 0;
$border-b-0: 0;
$border-l-0: 0;
$border-t-2: 2px;
$border-r-2: 2px;
$border-b-2: 2px;
$border-l-2: 2px;
$border-t-4: 4px;
$border-r-4: 4px;
$border-b-4: 4px;
$border-l-4: 4px;
$border-t-8: 8px;
$border-r-8: 8px;
$border-b-8: 8px;
$border-l-8: 8px;
