.contact {
  margin-top: 60px;
  margin-bottom: 120px;
  @include device(small) {
    margin-top: 0;
    margin-bottom: 60px;
  }
  @include device(toosmall) {
    margin-top: 60px;
  }
}

.contact {
  form {
    label {
      @include font-type-1(18);
      display: block;
    }
    input,
    textarea {
      @include font-type-1(18);
      color: $gray-color;
      width: 100%;
      padding: 0 5px;
      height: 40px;
      border: 2px solid $dark-beige-color;
      background: transparent;
      margin-bottom: 1em;
      &:focus {
        outline: none;
        border-color: $medium-beige-color;
      }
    }
    textarea {
      height: 120px;
    }
    .row-child {
      [class^='grid-'] {
        @include device(small) {
          flex: 0 0 100%;
        }
      }
    }
    button {
      @include font-type-1(18);
      cursor: pointer;
      color: $dark-beige-color;
      text-transform: uppercase;
      border: 2px solid $dark-beige-color;
      background: transparent;
      width: 200px;
      padding: 5px 0;
      @include box-shadow(
        5px 5px 0 -2px $medium-beige-color,
        5px 5px 0 0 $dark-beige-color
      );
      &:hover {
        transition: 0.3s;
        @include box-shadow(
          3px 3px 0 -2px $medium-beige-color,
          3px 3px 0 0 $dark-beige-color
        );
      }
    }
  }
  .contact-info {
    display: inline-block;
    color: $dark-beige-color;
    margin-top: 2em;
    margin-bottom: 3em;
    @include device(large) {
      float: right;
      text-align: right;
      margin-top: -3em;
    }
  }
  .contact-map {
    display: block;
    @include box-shadow(0 0 0 10px $medium-beige-color);
    clear: both;
    img {
      width: 100%;
    }
  }
}
