/* Generals */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Grid's variables */
/* Box-sizing */
*,
*::after,
*::before {
  box-sizing: border-box; }

/* Media querie's mixin */
.row {
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 759px) {
    .row {
      flex-direction: column; } }

.row-child {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px; }
  @media screen and (max-width: 759px) {
    .row-child {
      margin-left: 0;
      margin-right: 0; } }

.grid-1 {
  flex: 0 0 calc(8.33333% - 20px); }

.grid-2 {
  flex: 0 0 calc(16.66667% - 20px); }

.grid-3 {
  flex: 0 0 calc(25% - 20px); }

.grid-4 {
  flex: 0 0 calc(33.33333% - 20px); }

.grid-5 {
  flex: 0 0 calc(41.66667% - 20px); }

.grid-6 {
  flex: 0 0 calc(50% - 20px); }

.grid-7 {
  flex: 0 0 calc(58.33333% - 20px); }

.grid-8 {
  flex: 0 0 calc(66.66667% - 20px); }

.grid-9 {
  flex: 0 0 calc(75% - 20px); }

.grid-10 {
  flex: 0 0 calc(83.33333% - 20px); }

.grid-11 {
  flex: 0 0 calc(91.66667% - 20px); }

.grid-12 {
  flex: 0 0 calc(100% - 20px); }

[class^='grid-'] {
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px; }
  @media screen and (max-width: 759px) {
    [class^='grid-'] {
      flex: 1;
      margin-left: 0;
      margin-right: 0; } }

.offset-1 {
  margin-left: calc(8.33333% + 10px); }

.offset-2 {
  margin-left: calc(16.66667% + 10px); }

.offset-3 {
  margin-left: calc(25% + 10px); }

.offset-4 {
  margin-left: calc(33.33333% + 10px); }

.offset-5 {
  margin-left: calc(41.66667% + 10px); }

.offset-6 {
  margin-left: calc(50% + 10px); }

.offset-7 {
  margin-left: calc(58.33333% + 10px); }

.offset-8 {
  margin-left: calc(66.66667% + 10px); }

.offset-9 {
  margin-left: calc(75% + 10px); }

.offset-10 {
  margin-left: calc(83.33333% + 10px); }

.offset-11 {
  margin-left: calc(91.66667% + 10px); }

.offset-12 {
  margin-left: calc(100% + 10px); }

@media screen and (max-width: 759px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0; } }

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative; }
  @media screen and (min-width: 760px) and (max-width: 1199px) {
    .container {
      max-width: 760px; } }
  @media screen and (max-width: 759px) {
    .container {
      max-width: 760px;
      padding-left: 10px;
      padding-right: 10px; } }

/* Colors */
/* Fonts */
body {
  background: #edece4;
  border: 10px solid #cbc6b9;
  color: #2a2426; }
  @media screen and (max-width: 759px) {
    body {
      border: none; } }

img {
  display: block;
  max-width: 100%; }

p {
  font-family: "PT Mono", monospace;
  font-size: 1.125em;
  line-height: 1.66667em; }

.title {
  font-family: "PT Mono", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 759px) {
    .title {
      margin-bottom: 40px; } }
  .title::after {
    content: '';
    display: block;
    float: right;
    width: 75%;
    height: 2px;
    margin-top: 15px;
    background: #2a2426; }

/* Parts */
.intro {
  margin-top: 60px; }
  @media screen and (max-width: 759px) {
    .intro {
      margin-top: 50px; }
      .intro .logo,
      .intro .info-intro {
        margin-left: auto;
        margin-right: auto; }
      .intro .phone-intro span {
        display: block;
        margin: auto;
        width: 320px; } }

.logo {
  margin-bottom: 60px; }

.info-intro {
  border-right: 2px solid #2a2426;
  max-width: 320px;
  height: 158px; }
  .info-intro p {
    padding-top: 10px; }
    .info-intro p:first-child {
      border-bottom: 2px solid #2a2426;
      padding-bottom: 10px; }

.phone-intro {
  color: #988c77; }
  @media screen and (max-width: 759px) {
    .phone-intro {
      margin-bottom: 40px; } }
  .phone-intro::after {
    content: '/ / / /';
    display: block;
    margin-top: 200px;
    font-size: 220px;
    letter-spacing: -90px;
    color: #2a2426; }
    @media screen and (min-width: 760px) and (max-width: 1199px) {
      .phone-intro::after {
        margin-top: 80px;
        font-size: 160px;
        letter-spacing: -70px; } }
    @media screen and (max-width: 759px) {
      .phone-intro::after {
        display: none; } }

.open {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #1ab912;
  border-radius: 50%;
  margin-left: 30px; }

.photo-intro {
  border: 10px solid #cbc6b9;
  width: 100%; }
  @media screen and (max-width: 759px) {
    .photo-intro {
      width: auto;
      margin-left: auto;
      margin-right: auto; } }

.menu {
  margin-top: 120px; }
  @media screen and (max-width: 759px) {
    .menu {
      margin-top: 60px;
      margin-bottom: 0; } }

.item-menu {
  margin-bottom: 60px; }
  .item-menu h2 {
    font-family: "Aref Ruqaa", serif;
    font-size: 1.5em;
    line-height: 1.25em;
    margin-bottom: 1em; }
  .item-menu li {
    font-family: "PT Mono", monospace;
    font-size: 1.125em;
    line-height: 1.66667em;
    line-height: 1.94444em; }
    @media screen and (max-width: 469px) {
      .item-menu li {
        font-size: 3.5vw; } }
    .item-menu li span {
      font-family: "Aref Ruqaa", serif;
      color: #988c77;
      display: inline-block;
      width: 70px;
      text-align: right;
      margin-left: -80px; }
      @media screen and (max-width: 759px) {
        .item-menu li span {
          margin-left: 0;
          width: auto; } }
  .item-menu img {
    border-radius: 50%;
    border: 10px solid #cbc6b9; }
    @media screen and (max-width: 759px) {
      .item-menu img {
        width: 120px;
        margin-left: auto;
        margin-right: auto; } }
  .item-menu .row-child [class^='grid-']:first-child {
    flex: 2; }
  @media screen and (max-width: 759px) {
    .item-menu:last-child {
      margin-bottom: 0; } }

.contact {
  margin-top: 60px;
  margin-bottom: 120px; }
  @media screen and (max-width: 759px) {
    .contact {
      margin-top: 0;
      margin-bottom: 60px; } }
  @media screen and (max-width: 469px) {
    .contact {
      margin-top: 60px; } }

.contact form label {
  font-family: "PT Mono", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  display: block; }

.contact form input,
.contact form textarea {
  font-family: "PT Mono", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  color: #2a2426;
  width: 100%;
  padding: 0 5px;
  height: 40px;
  border: 2px solid #988c77;
  background: transparent;
  margin-bottom: 1em; }
  .contact form input:focus,
  .contact form textarea:focus {
    outline: none;
    border-color: #cbc6b9; }

.contact form textarea {
  height: 120px; }

@media screen and (max-width: 759px) {
  .contact form .row-child [class^='grid-'] {
    flex: 0 0 100%; } }

.contact form button {
  font-family: "PT Mono", monospace;
  font-size: 1.125em;
  line-height: 1.66667em;
  cursor: pointer;
  color: #988c77;
  text-transform: uppercase;
  border: 2px solid #988c77;
  background: transparent;
  width: 200px;
  padding: 5px 0;
  -webkit-box-shadow: 5px 5px 0 -2px #cbc6b9, 5px 5px 0 0 #988c77;
  -moz-box-shadow: 5px 5px 0 -2px #cbc6b9, 5px 5px 0 0 #988c77;
  box-shadow: 5px 5px 0 -2px #cbc6b9, 5px 5px 0 0 #988c77; }
  .contact form button:hover {
    transition: 0.3s;
    -webkit-box-shadow: 3px 3px 0 -2px #cbc6b9, 3px 3px 0 0 #988c77;
    -moz-box-shadow: 3px 3px 0 -2px #cbc6b9, 3px 3px 0 0 #988c77;
    box-shadow: 3px 3px 0 -2px #cbc6b9, 3px 3px 0 0 #988c77; }

.contact .contact-info {
  display: inline-block;
  color: #988c77;
  margin-top: 2em;
  margin-bottom: 3em; }
  @media screen and (min-width: 1200px) {
    .contact .contact-info {
      float: right;
      text-align: right;
      margin-top: -3em; } }

.contact .contact-map {
  display: block;
  -webkit-box-shadow: 0 0 0 10px #cbc6b9;
  -moz-box-shadow: 0 0 0 10px #cbc6b9;
  box-shadow: 0 0 0 10px #cbc6b9;
  clear: both; }
  .contact .contact-map img {
    width: 100%; }

footer {
  padding: 20px 0;
  background: #2a2426;
  -webkit-box-shadow: 0 0 0 10px #2a2426;
  -moz-box-shadow: 0 0 0 10px #2a2426;
  box-shadow: 0 0 0 10px #2a2426; }
  footer p {
    color: #edece4; }
    @media screen and (max-width: 759px) {
      footer p {
        text-align: center; } }
  footer [class^='grid-']:last-child {
    text-align: right; }
    @media screen and (max-width: 759px) {
      footer [class^='grid-']:last-child {
        margin-top: 10px;
        text-align: center; } }
    footer [class^='grid-']:last-child a {
      display: inline-block; }
